<footer>
  <div
    class="d-flex justify-content-md-between flex-md-row flex-column align-items-center py-lg-10 py-8 container"
  >
    <h2 class="mb-md-0 mb-3 fs-lg-2 fs-4">想看什麼主題由你決定！</h2>
    <div
      class="d-flex flex-column align-items-md-end align-items-center gap-md-1 gap-6"
    >
      <h4 class="fs-lg-4 fs-5 fw-bold">歡迎投稿與我們分享</h4>
      <button class="btn btn-secondary-200 px-lg-5 py-lg-2" type="submit">
        <h5 class="text-white fs-lg-5 fs-6">聯絡我們</h5>
      </button>
    </div>
  </div>
  <div
    class="py-lg-5 py-4 border-top border-gray-300 text-center copyright container"
  >
    <p class="text-gray-500">©Vivre 2024 All right Reserved</p>
  </div>
</footer>
