form {
  width: 276px;
  @include pad {
    display: flex;
    width: 100%;
    margin-top: 24px;
  }
}

.search {
  padding-right: 40px; /* 增加 padding 以騰出空間給圖標 */
}

.nav-btn {
  @include pad {
    display: flex;
    width: 100%;
  }
}
.btn-w-100 {
  @include pad {
    width: 100%;
  }
}
