.navbar-border-bottom {
  border-bottom: 1px solid $neutral-300 !important;

  @include pad {
    border-bottom: 0px !important;
  }
}

form {
  width: 276px;
  @include pad {
    display: flex;
    width: 100%;
    margin-top: 24px;
  }
}

.nav-btn {
  @include pad {
    display: flex;
    width: 100%;
  }
}
.btn-w-100 {
  @include pad {
    width: 100%;
  }
}
