<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>註冊頁</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6 sign-up-form">
          <div class="p-lg-7 p-5 bg-white border border-primary-300 rounded-3">
            <h4 class="mb-lg-7 mb-5 text-secondary-200">登入</h4>
            <form class="w-100 me-lg-1 flex-column fs-6">
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                  >會員帳號</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                  placeholder="請輸入會員帳號"
                />
              </div>
              <div class="mb-lg-7 mb-5">
                <label for="exampleInputPassword1" class="form-label"
                  >密碼</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                  placeholder="請輸入密碼"
                />
              </div>
              <button
                type="submit"
                class="btn btn-secondary-200 text-white w-100"
              >
                立即登入<i class="bi bi-arrow-right ms-2"></i>
              </button>
            </form>
            <div class="hr-container my-lg-7 my-5">
              <span class="text-gray-300">或以其他方式註冊</span>
            </div>
            <a
              href="#"
              class="btn btn-gray-100 w-100 mb-1"
              style="color: #52525b"
              ><img
                src="../assets/images/2024-week6/icons-google.png"
                alt=""
                class="me-2"
              />使用 <span class="eng-font">Google</span> 註冊
            </a>
            <a
              href="#"
              class="btn btn-gray-100 w-100 mb-lg-7 mb-5"
              style="color: #52525b"
              ><img
                src="../assets/images/2024-week6/icons-facebook.png"
                alt=""
                class="me-2"
              />使用 <span class="eng-font">Facebook</span> 註冊
            </a>
            <p class="text-center">
              已經是會員了？<a
                href="./signUp.html"
                class="link-secondary-200 ms-2"
                >點此註冊</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
